* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: black;
  background-color: #e9e4d8;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.mensajeError {
  font-size: 1.2em;
  color: red;
  font-weight: bolder; }

.mensajeNotificacion {
  font-size: 1.2em;
  color: aqua;
  font-weight: bolder; }

.fontMediana {
  font-size: 1.2em; }

.fontNormal {
  font-size: 1em; }

.fontGrande {
  font-size: 1.5em; }

.fontChica {
  font-size: 0.8em; }

.botonLogin {
  padding: 5px;
  width: auto;
  min-width: 100px;
  text-align: center;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer; }

.fontAclaratoria {
  opacity: 0.9;
  color: #3d3d3d;
  font-size: 0.8em; }

.bordeRedondeado {
  border: 1px solid black;
  border-radius: 3px; }

.marginBottom20px {
  margin-bottom: 20px; }

.border {
  border: 1px solid black; }

.nombre {
  display: flex;
  flex-direction: row;
  margin-right: 80px; }
  .nombre div {
    margin-left: 20px;
    display: flex;
    flex-direction: column; }
    .nombre div p:last-child {
      margin-top: 3px; }

.maxWidth {
  max-width: 1820px; }

.itemCatalogo {
  width: 300px;
  height: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px; }
  .itemCatalogo img {
    width: 72px;
    height: 72px;
    margin-left: 20px; }
  .itemCatalogo .itemCatalogoTexto {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px; }
    .itemCatalogo .itemCatalogoTexto p:last-child {
      padding-top: 5px; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black; }
  .header .headerDiv {
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .headerDiv span {
      height: 45px;
      border-color: #8d8d8d;
      margin-left: 20px;
      width: 2px; }
    .header .headerDiv .titulo {
      margin-left: 50px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .header .headerDiv nav {
      display: flex; }
      .header .headerDiv nav li:first-child {
        margin-right: 65px; }
    .header .headerDiv img {
      height: 50px;
      width: auto;
      padding-right: 25px; }

.bodyLogin {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .bodyLogin .formularioLogin {
    width: 300px;
    margin-bottom: 20px;
    font-size: 1.5em;
    align-items: center;
    justify-content: center; }
    .bodyLogin .formularioLogin div {
      display: flex;
      justify-content: space-between; }
      .bodyLogin .formularioLogin div .marginItemsForm {
        margin-bottom: 30px; }
    .bodyLogin .formularioLogin .botonesLogin {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around; }

.principalBody {
  display: grid;
  grid-template-rows: 70px 1fr;
  height: 100vh; }

.mainPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 25em; }
  .mainPrincipal div {
    display: flex; }
    .mainPrincipal div a:nth-child(2) {
      margin-left: 150px;
      margin-right: 150px; }
    .mainPrincipal div a {
      margin-top: 80px; }

.bodyRegistro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .bodyRegistro h1 {
    margin-top: 10%; }
  .bodyRegistro form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center; }
    .bodyRegistro form div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      width: 300px; }
      .bodyRegistro form div input {
        width: 70%; }
    .bodyRegistro form input {
      width: 100px; }
    .bodyRegistro form .botonRegistrarse {
      text-align: center;
      margin-top: 20px;
      padding: 10px;
      border: 1px solid black;
      border-radius: 3px; }

.bodyCrearIncidente {
  text-align: center; }
  .bodyCrearIncidente h1 {
    margin-top: 120px; }
  .bodyCrearIncidente p {
    margin-top: 5px; }
  .bodyCrearIncidente form {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .bodyCrearIncidente form input {
      margin-top: 30px; }
    .bodyCrearIncidente form .inputResumen {
      margin-top: 10px;
      margin-bottom: 30px;
      width: 350px;
      height: fit-content; }
    .bodyCrearIncidente form textarea {
      margin-top: 15px;
      resize: none;
      overflow: auto;
      width: 350px;
      height: 300px;
      padding: 10px; }
