@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: whitesmoke;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

body {
  background-color: #31363b; }

header {
  background-color: #101113; }

.ocuparResto {
  display: grid;
  grid-template-rows: 70px 1fr;
  height: 100vh; }

.negrita {
  font-weight: bolder; }

.fontMediana {
  font-size: 1.2em; }

.fontNormal {
  font-size: 1em; }

.fontGrande {
  font-size: 1.5em; }

.fontChica {
  font-size: 0.8em; }

.fontAclaratoria {
  opacity: 0.9;
  color: #3d3d3d;
  font-size: 0.8em; }

.bordeRedondeado {
  border: 1px solid black;
  border-radius: 3px; }

.marginBottom20px {
  margin-bottom: 20px; }

.marginTop20px {
  margin-top: 20px; }

.border {
  border: 1px solid black; }

.nombre {
  display: flex;
  flex-direction: row;
  margin-right: 80px; }
  .nombre div {
    margin-left: 20px;
    display: flex;
    flex-direction: column; }
    .nombre div p:last-child {
      margin-top: 3px; }

.maxWidth {
  max-width: 1820px; }

.padding10px {
  padding: 10px; }

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.flex {
  display: flex;
  justify-content: center;
  align-items: center; }

.marginBottom200px {
  margin-bottom: 300px;
  text-align: center; }

.marginBottom40px {
  margin-bottom: 40px; }

.marginTop300px {
  margin-top: 300px; }

.buttonIncidente {
  width: 250px;
  color: black;
  font-weight: bolder;
  font-size: 1.2em;
  text-align: center;
  margin-top: 30px;
  border-radius: 5px;
  height: 60px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; }

.buttonIncidente:hover {
  background-color: #b97900;
  transform: scale(1.03); }

.input {
  color: black;
  padding: 5px; }

.botonLogin {
  padding: 5px;
  width: auto;
  min-width: 100px;
  text-align: center;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  color: black; }

.botonesCrearUsuario {
  display: flex;
  justify-content: center;
  gap: 10px;
  /* Añade espacio entre los botones si es necesario */
  margin-top: 20px;
  /* Ajusta según sea necesario */ }

.buttonIncidenteDisable {
  width: 250px;
  color: #333333;
  font-weight: bolder;
  font-size: 1.2em;
  text-align: center;
  margin-top: 30px;
  border-radius: 5px;
  height: 60px;
  cursor: not-allowed;
  transition: background-color 0.3s ease, transform 0.3s ease;
  background-color: #ccc; }

.buttonEditar {
  width: 250px;
  color: black;
  font-weight: bolder;
  font-size: 1.2em;
  text-align: center;
  border-radius: 5px;
  height: 60px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; }

.buttonEditar:hover {
  background-color: #b97900;
  transform: scale(1.03); }

.mensajeError {
  font-size: 1.2em;
  color: red;
  font-weight: bolder; }

.mensajeNotificacion {
  font-size: 1.2em;
  color: #cab45c;
  font-weight: bolder; }

.echoAlMedio {
  margin-top: 50px;
  font-size: 1.4em;
  text-align: center; }

.itemCatalogo {
  background-color: #b97900;
  transition: transform 0.3s ease;
  width: 350px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px; }
  .itemCatalogo img {
    width: 72px;
    height: 72px;
    margin-left: 20px; }
  .itemCatalogo .itemCatalogoTexto {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px; }
    .itemCatalogo .itemCatalogoTexto p {
      color: black; }
    .itemCatalogo .itemCatalogoTexto p:last-child {
      padding-top: 5px;
      font-size: 1em; }

.itemCatalogo:hover {
  transform: scale(1.05); }

.bodyLogin {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("../images/paisaje.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(3px); }
  .bodyLogin .formularioLogin {
    background-color: rgba(255, 255, 255, 0.24);
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 50px;
    border-color: #d4b5a8; }
    .bodyLogin .formularioLogin .formularioLoginDiv {
      margin: 40px; }
      .bodyLogin .formularioLogin .formularioLoginDiv div {
        width: 300px;
        display: flex;
        justify-content: space-between; }
        .bodyLogin .formularioLogin .formularioLoginDiv div label {
          color: #fff6e6; }
        .bodyLogin .formularioLogin .formularioLoginDiv div .marginItemsForm {
          margin-bottom: 30px; }
      .bodyLogin .formularioLogin .formularioLoginDiv .botonesLogin {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px; }
  .bodyLogin .titulo {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 18%;
    top: 10%;
    height: 150px; }
    .bodyLogin .titulo img {
      width: 150px; }
    .bodyLogin .titulo div {
      display: flex;
      flex-direction: column;
      justify-content: end;
      height: 100%;
      text-align: left;
      margin-left: 25px;
      padding-bottom: 30px; }
      .bodyLogin .titulo div h1 {
        font-size: 2.9em; }
      .bodyLogin .titulo div p {
        font-size: 1em; }

.principalBody {
  display: grid;
  grid-template-rows: 70px 1fr;
  height: 100vh; }

.mainPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 25em; }
  .mainPrincipal div {
    display: flex; }
    .mainPrincipal div a:nth-child(2) {
      margin-left: 120px;
      margin-right: 120px; }
    .mainPrincipal div a {
      margin-top: 80px; }

.bodyRegistro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .bodyRegistro h1 {
    margin-top: 10%; }
  .bodyRegistro form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center; }
    .bodyRegistro form div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      width: 300px; }
      .bodyRegistro form div input {
        width: 70%; }
    .bodyRegistro form input {
      width: 100px; }
    .bodyRegistro form .botonRegistrarse {
      text-align: center;
      margin-top: 20px;
      padding: 10px;
      border: 1px solid black;
      border-radius: 3px; }

.bodyCrearIncidente:last-child main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px; }
  .bodyCrearIncidente:last-child main .seccionCreacion {
    width: 50%;
    min-width: 1023px;
    margin-top: 100px; }
    .bodyCrearIncidente:last-child main .seccionCreacion form {
      display: flex;
      flex-direction: column;
      max-width: 100%; }
      .bodyCrearIncidente:last-child main .seccionCreacion form label {
        margin-top: 10px; }
      .bodyCrearIncidente:last-child main .seccionCreacion form textarea {
        resize: none;
        overflow: auto;
        color: black;
        background-color: #d4d4d4;
        border-radius: 5px; }
      .bodyCrearIncidente:last-child main .seccionCreacion form select {
        color: black;
        background-color: #d4d4d4;
        border-radius: 5px; }
        .bodyCrearIncidente:last-child main .seccionCreacion form select option {
          color: black;
          padding: 10px; }
      .bodyCrearIncidente:last-child main .seccionCreacion form .subcategoria {
        color: black;
        background-color: #d4d4d4;
        border-radius: 5px; }
      .bodyCrearIncidente:last-child main .seccionCreacion form div {
        width: 100%;
        text-align: center; }

.tituloCrearIncidente {
  margin-top: 20px;
  width: 70%; }
  .tituloCrearIncidente article {
    background-color: #699438;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    border-radius: 3px; }
    .tituloCrearIncidente article img {
      position: relative;
      width: 120px;
      background-color: #d4d4d4;
      margin-top: 80px;
      margin-left: 50px;
      padding: 18px;
      border-radius: 5px; }
    .tituloCrearIncidente article h1 {
      margin-left: 35px; }

.loading-container {
  font-size: 24px;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.dots {
  display: inline-block;
  margin-left: 5px; }

.dots::after {
  content: '';
  animation: dots 3s steps(4, end) infinite; }

@keyframes dots {
  0%, 20% {
    content: ''; }
  40% {
    content: '.'; }
  60% {
    content: '..'; }
  80%, 100% {
    content: '...'; } }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black; }
  .header .headerDiv {
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .headerDiv span {
      height: 45px;
      border-color: #8d8d8d;
      margin-left: 20px;
      width: 2px; }
    .header .headerDiv .titulo {
      margin-left: 50px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .header .headerDiv .headerNav {
      display: flex;
      transition: transform 0.3s ease; }
      .header .headerDiv .headerNav li:first-child {
        margin-right: 60px; }
      .header .headerDiv .headerNav li {
        transition: transform 0.3s ease, color 0.3s ease; }
      .header .headerDiv .headerNav li:hover {
        transform: scale(1.05);
        color: orange !important; }
    .header .headerDiv .imagenHeader {
      height: 50px;
      width: auto;
      padding-right: 25px; }
    .header .headerDiv .imagenLogout {
      height: 35px;
      transition: transform 0.3s ease; }
    .header .headerDiv .imagenLogout:hover {
      transform: scale(1.12); }

.creacionExitosa {
  margin-bottom: 300px; }
  .creacionExitosa h1 {
    margin-bottom: 15px;
    color: #b97900;
    font-size: 2.5em; }
  .creacionExitosa p {
    margin-bottom: 35px;
    font-weight: bolder;
    color: #cab45c; }

.tablaConsulta {
  width: 90%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  color: #333333;
  min-width: 1000px;
  overflow: hidden;
  border-radius: 5px; }
  .tablaConsulta .botonCancelar {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #810202; }
  .tablaConsulta th,
  .tablaConsulta td:not(:nth-child(6)) {
    padding: 8px 10px;
    border: 1px solid #000000;
    color: #333333;
    background-color: #d4d4d4; }
    .tablaConsulta th a,
    .tablaConsulta td:not(:nth-child(6)) a {
      color: #333333; }
    .tablaConsulta th button,
    .tablaConsulta td:not(:nth-child(6)) button {
      margin: 0;
      padding: 0;
      border: none;
      width: 100%;
      height: 100%;
      cursor: pointer;
      background-color: #d4d4d4; }
  .tablaConsulta th {
    color: #333333;
    font-weight: bold; }

.enProceso {
  background-color: #cab45c;
  padding: 12px 15px;
  border: 1px solid #000000;
  color: #333333;
  font-weight: bolder; }

.finalizado {
  background-color: #699438;
  padding: 12px 15px;
  border: 1px solid #000000;
  color: #333333;
  font-weight: bolder; }

.asignado {
  background-color: #013d86;
  padding: 12px 15px;
  border: 1px solid #000000;
  color: #d4d4d4;
  font-weight: bolder; }

.iconoEliminar {
  height: 40px;
  transition: transform 0.3s ease;
  background-color: #d4d4d4; }

.iconoEliminar:hover {
  transform: scale(1.15); }

.mainGestorUsuarios:not(:first-child) {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center; }
  .mainGestorUsuarios:not(:first-child) div {
    width: 70%; }
  .mainGestorUsuarios:not(:first-child) .tablaUsuarios th, .mainGestorUsuarios:not(:first-child) .tablaUsuarios td:last-child {
    background-color: #d4d4d4; }

.divGUTabla {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px; }
  .divGUTabla h3 {
    margin-bottom: 10px; }

.logoTablaUsr {
  height: 40px;
  transition: transform 0.3s ease; }

.logoTablaUsr:hover {
  transform: scale(1.15); }

.buttonEliminarUsr {
  background-color: #d4d4d4;
  border: none;
  cursor: pointer; }

.logoTablaUsuarios {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px; }

.mainConsolaIncidentes {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mainConsolaIncidentes div {
    width: 70%; }
    .mainConsolaIncidentes div p {
      font-weight: bolder;
      font-size: 1.2em; }
  .mainConsolaIncidentes .divNombreIncidentes {
    margin-top: 80px; }
  .mainConsolaIncidentes h3 {
    margin-top: 90px;
    margin-bottom: 20px;
    font-weight: bolder; }

.form-container {
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px; }

.mainCrearUsuario:last-child {
  display: flex;
  align-items: center;
  justify-content: center; }

.form-container h2 {
  margin-top: 0;
  margin-bottom: 20px; }

.form-group {
  margin-bottom: 15px; }

.form-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  margin-top: 20px;
  color: #d4d4d4; }

.form-group input[type="text"],
.form-group input[type="password"],
.form-group select,
.form-group input[type="email"] {
  width: 80%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #d4d4d4;
  color: black;
  font-size: 1.2em;
  width: 1000px; }
  .form-group input[type="text"] option,
  .form-group input[type="password"] option,
  .form-group select option,
  .form-group input[type="email"] option {
    color: black; }

.submitButton {
  margin-top: 30px;
  text-align: center; }

.mainEdicionPerfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto; }
  .mainEdicionPerfil .form-group label {
    display: block;
    margin-bottom: 5px; }
  .mainEdicionPerfil .form-group input {
    width: 400px;
    color: black;
    overflow: hidden; }
  .mainEdicionPerfil .form-group:last-child {
    margin-top: 40px; }
  .mainEdicionPerfil form {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.mainPerfilUsuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; }
  .mainPerfilUsuario .elementosPerfil {
    display: flex;
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin-top: 30px;
    background-color: #4d4d4d;
    padding: 10px;
    border-radius: 5px; }
    .mainPerfilUsuario .elementosPerfil h3 {
      flex: 1;
      margin: 0;
      font-size: 1.3em;
      font-weight: normal;
      text-align: left;
      font-weight: bolder; }
    .mainPerfilUsuario .elementosPerfil .info-content {
      flex: 2;
      text-align: right;
      padding-left: 10px; }
    .mainPerfilUsuario .elementosPerfil div p {
      font-size: 1.2em; }
  .mainPerfilUsuario .change-password-form {
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 300px;
    padding: 10px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #4d4d4d;
    padding: 10px;
    border-radius: 5px; }
    .mainPerfilUsuario .change-password-form form:last-child {
      text-align: center; }
    .mainPerfilUsuario .change-password-form .form-group label {
      margin-top: 40px;
      font-size: 1.2em; }
    .mainPerfilUsuario .change-password-form .form-group input {
      margin-top: 10px;
      width: 100%; }

.tablaTecnico {
  width: 90%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  color: #333333;
  min-width: 1000px;
  overflow: hidden;
  border-radius: 5px; }
  .tablaTecnico th,
  .tablaTecnico td {
    padding: 8px 10px;
    border: 1px solid #000000;
    color: #333333;
    background-color: #d4d4d4; }
    .tablaTecnico th a,
    .tablaTecnico td a {
      color: #333333; }
    .tablaTecnico th button,
    .tablaTecnico td button {
      margin: 0;
      padding: 0;
      border: none;
      width: 100%;
      height: 100%;
      cursor: pointer;
      background-color: #d4d4d4; }
  .tablaTecnico th {
    color: #333333;
    font-weight: bold; }

.logoAsignar {
  width: 60px;
  background-color: #d4d4d4;
  transition: transform 0.3s ease; }

.logoAsignar:hover {
  transform: scale(1.15); }

.mainConsolaIncidentes {
  display: flex;
  flex-direction: column; }
