.mainConsolaIncidentes{
    display: flex;
    flex-direction: column;
    align-items: center;

    div{
        width: 70%;
        p{
            font-weight: bolder;
            font-size: 1.2em;
        }
    }
    .divNombreIncidentes{
        margin-top: 80px;
    }
    h3{
        margin-top: 90px;
        margin-bottom: 20px;
        font-weight: bolder;
    }
}
