.bodyCrearIncidente{
    text-align: center;
    h1{
        margin-top: 120px;
    }
    p{
        margin-top: 5px;
    }
    form{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input{
            margin-top: 30px;
        }
        .inputResumen{
            margin-top: 10px;
            margin-bottom: 30px;
            width: 350px;
            height: fit-content;
        }
        textarea{
            margin-top: 15px;
            resize: none;
            overflow:auto;
            width: 350px;
            height: 300px;
            padding: 10px;
        }
    }

}