$colorPrincipal: #013d86;
$colorSecundario: #699438;
$colorFondo:#F2F2F2; 
$colorTexto: black;
$colorAcento: #cab45c;
$grisOscuro: #101113;
$grisClaro: #31363b;
$azul: #3E78B2;
$naranjaOscuro: rgb(185, 121, 0);
$negro: black;
$letraLogin: rgb(255, 246, 230);
$lineaLogin:rgb(212, 181, 168);
$fondoLogin:rgba(255, 255, 255, 0.24);
$blancoOscuro:rgb(212, 212, 212);
$grisOscuro2:rgb(51, 51, 51);
$rojo: rgb(129, 2, 2);
$finalizado:rgb(2, 109, 2);

body{
    background-color: $grisClaro;
}
header{
    background-color: $grisOscuro;
    
}
.ocuparResto{
    display: grid;
    grid-template-rows: 70px 1fr;
    height: 100vh;
}

.negrita{
    font-weight: bolder;
}
.fontMediana{
    font-size: 1.2em;
}
.fontNormal{
    font-size: 1em;
}
.fontGrande{
    font-size: 1.5em;
}
.fontChica{
    font-size: 0.8em;
}
.fontAclaratoria{
    opacity: 0.9;
    color: #3d3d3d;
    font-size: 0.8em;
}
.bordeRedondeado{
    border: 1px solid black;
    border-radius: 3px;
}
.marginBottom20px{
    margin-bottom: 20px;
}
.marginTop20px{
    margin-top: 20px;
}
.border{
    border: 1px solid black;
}
.nombre{
    display: flex;
    flex-direction: row;
    margin-right: 80px;
    div{
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        p:last-child{
            margin-top: 3px;
        }
    }  
}
.maxWidth{
    max-width: 1820px;
}
.padding10px{
    padding: 10px;
}

.flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.marginBottom200px{
    margin-bottom: 300px;
    text-align: center;
}
.marginBottom40px{
    margin-bottom: 40px
}
.marginTop300px{
    margin-top: 300px;
}
