.headerPrincipal{
    padding-left: 20px;
    h2{
        margin-top: 50px;
        margin-bottom: 3px;
    }
    p{
        margin-bottom: 100px;
    }
    nav{
        width: 100%;
        padding-left: 30%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        a{
            margin-bottom: 20px;
            font-size: 1.2em;
        }
    }
}