.headerHorizontal{
    height: 100px;
    width: 100%;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div{
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }
    nav{
        a{
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}