.mainPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25em;
    div{
        display: flex;
        a:nth-child(2){
            margin-left: 120px;
            margin-right: 120px;
        }
        a{
            margin-top: 80px;
        }
    }
}