.mensajeError{
    font-size: 1.2em;
    color: red;
    font-weight: bolder;
}
.mensajeNotificacion{
    font-size: 1.2em;
    color: $colorAcento;
    font-weight: bolder;
}

.echoAlMedio{
    margin-top: 50px;
    font-size: 1.4em;
    text-align: center;
}