*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: whitesmoke;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

@import '_generales.scss';
@import '_botones.scss';
@import '_mensajes.scss';
@import '_itemCatalogo.scss';
@import '_index.scss';
@import '_principal.scss';
@import '_mainPrincipal.scss';
@import '_registro.scss';
@import '_creacionIncidente.scss';
@import '_animacionCerrarSesion.scss';
@import '_header.scss';
@import '_creacionExitosa.scss';
@import '_tablaIncidentes.scss';
@import '_consolaIncidentes.scss';

